.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  align-self:flex-start;
  justify-content: flex-start;
  /* flex-direction: row; */
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  background-image: url(images/deck.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav-header {
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items:baseline;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SU-header {
  /* background-color: #ccdbf8; */
  background-image: url(images/deck.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TopLeft {
  /* background-color: #ccdbf8; */
  /* background-image: url(images/deck.jpg); */
  font-size: 100px;
  min-height: 100vh;
  display: inline-flex;
  /* flex-direction: column; */
  /* align-items:flex-start; */
  /* justify-content:first baseline; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  font-family: 'Courier New', Courier, monospace;
}

.rectangle {
  background-image: url(images/deck.jpg);
  display: inline-block;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 550px;
  background: #ccdbf8;
}

.Login-Btn {
  background-color: rgba(229, 233, 204, 0.8);
  opacity: 0.5;
}

.info {
  color: black;
  align-items:flex-start;
  justify-content:baseline;
}

.App-link {
  flex-direction: column;
  align-items:flex-start;
  justify-content:first baseline;
  color: #fffbea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spacer {
  padding-left: 20%;
  padding-right: 20%;
}

input[type=text], input[type=password]
{
  border:none;
  border-bottom: 1px solid rgb(153, 74, 74);
  outline: 0ch;
  background-color: '#000000'
}


