.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url(images/deck.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SU-header {
  /* background-color: #ccdbf8; */
  background-image: url(images/deck.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rectangle {
  background-image: url(images/deck.jpg);
  display: inline-block;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 550px;
  background: #ccdbf8;
}

.info {
  color: black;
  align-items:flex-start;
  justify-content:baseline;
}

.App-link {
  flex-direction: column;
  align-items:flex-start;
  justify-content:first baseline;
  color: #fffbea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
