.search {
  border-radius: 30px;
  padding: 19px 398px 19px 352px;
  display: flex;
  align-items: center;
  border: 1px solid #2e2e2e;
  background-image: url("https://static.overlay-tech.com/assets/c1706ffe-8d01-4730-9118-c07a9ee41546.png");
}
.searchtext {
  display: flex;
  align-items: center;
}
.vector {
  margin-right: 20px;
}
.whereTo {
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
  color: #2e2e2e;
}